name: Terraform Apply

on:
  push:
    branches: [main]
    paths:
      - 'infrastructure/**.tf'

permissions:
  id-token: write
  contents: read

defaults:
  run:
    working-directory: infrastructure

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::463470960192:role/GitHubActionsRole
          aws-region: us-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve
