name: Terraform Plan

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'infrastructure/**'

permissions:
  pull-requests: write
  issues: write
  contents: read
  id-token: write # Required for OIDC

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::463470960192:role/GitHubActionsRole
          aws-region: us-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: ./infrastructure

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -out=tfplan
        working-directory: ./infrastructure
        continue-on-error: true

      - name: Terraform Show
        id: show
        run: terraform show -no-color tfplan
        working-directory: ./infrastructure

      - name: Post Plan
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `## Terraform Plan
            
            <details>
            <summary>Show Plan</summary>
            
            \`\`\`
            ${{ steps.show.outputs.stdout }}
            \`\`\`
            
            </details>
            
            *Pusher: @${{ github.actor }}, Action: \`${{ github.event_name }}\`*`;
            
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })