name: Terraform Apply
on:
  push:
    branches: [ main ]
    paths: ["infrastructure/**"]

permissions:
  contents: read
  id-token: write # Required for OIDC

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::463470960192:role/GitHubActionsRole
          aws-region: us-west-2
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init && terraform apply -auto-approve
        working-directory: ./infrastructure